* {
    box-sizing: border-box;
    text-align: center;
  }

  body {
    font-size: 24px;
    line-height: 32px;
    color: #333;
  }

#header {
  padding: 20px;
  margin-bottom: 20px;
  color: #fff;
  background: #888888;
}

#nav {
  padding: 20px;
  margin-bottom: 20px;
  color: #fff;
  background: #888888;
}

#section {
float: left;
margin-right:20px;
width: 50%;
color: #fff;
background: #888888;
}

#aside {
  margin-left:20px;
  width: 100%;
  color: #fff;
  background: #888888;
}

#footer {
  padding: 20px;
  margin-top: 20px;
  color: #fff;
  background: #888888;
}