* {
    box-sizing: border-box;
    text-align: center;
  }

  body {
    font-size: 24px;
    line-height: 32px;
    color: #333;
  }

#header {
  padding: 20px;
  margin-bottom: 20px;
  color: #fff;
  background: #888888;
}

#nav {
  padding: 20px;
  margin-bottom: 20px;
  color: #fff;
  background: #888888;
}

#section {
float: left;
width: 49.5%;
height:200px;
padding: 20px;
border: 1px;
color: #fff;
background: #888888;
margin-bottom: 20px;
}

#aside {
  float: right;
   width: 49.5%;
   height: 200px;
   border: 1px;
   padding: 20px;
  color: #fff;
  background: #888888;
  margin-bottom: 20px;
}

#footer {
  padding: 20px;
  margin-top: 240px;
  color: #fff;
  background: #888888;
}